.slides

  .slide
    h1 Lux
    .row
      .col.half
        p Write presentations in Jade:
        pre.ugly
          | .slide
          |   h1 My Presentation
          |   p This is slide one.
          | 
          | .slide
          |   h2 Slide two
      .col.half
        p Share over network like:
        pre.lang-bsh
          | $ lux start
        p Or export to static HTML:
        pre.lang-bsh
          | $ lux export
        p &nbsp;
        p &nbsp;
        p Press <code>space</code> or <code>→</code> for next slide.

  .slide
    h2 Install
    pre.ugly
      | npm install -g lux

  .slide
    h2 Getting Started
    p Generate a skeleton presentation
    pre.ugly
      | $ mkdir mypres && cd mypres
      | $ lux generate
    p Then edit the index.jade file to add your content.

  .slide
    h2 Serving presentation over the network
    pre.ugly
      | $ lux start
      | ==> Presentation running on http://<your computer>:3000
  //
    .slide
      h2 Remote Control
      p Visit <code>/master</code> on another device to remote control the presentation.

  .slide
    h2 Static HTML Export
    p
      | Export static HTML with <code>lux export</code> and you get a fully-featured
      | presentation in HTML format, but without remote control abilities.
  //
    .slide
      h2 Built-in syntax highlighting
      p
        |All <code>&lt;code&gt;</code> and <code>&lt;pre&gt;</code> blocks are highlighted with
        | <a href="http://google-code-prettify.googlecode.com/svn/trunk/README.html">Google Prettifier</a>.
      .row
        .col.half
          p Example:
          pre.ugly
            | pre
            |   | var foo = 'bar';
        .col.half
          p Becomes:
          pre
            | var foo = 'bar';
      p Disable highlighing by adding class <code>.ugly</code>.

    .slide
      h2 URL integration
      p Slides are bookmarkable and the browser's 'back' button works:
      p e.g. to go to slide three:
      pre.ugly
        | /#slide=3

  .slide
    h2 Make columns
    p Split a slide in two like this:
    pre.ugly
      | .row
      |   .col.half
      |     p Left content here
      |   .col.half
      |     p Right content here

  .slide
    h2 Contribute!
    p Please contribute at <a href="http://github.com/jamiemill/lux">http://github.com/jamiemill/lux</a>.

