extends layout

block content

  .presentation
    .slides

      .slide
        .slide-content
          h1 Use the router generously
          ul
            li Push navigational state up to the URL
            li Allows:
              ul
                li Refreshing without losing location
                li Bookmarking/sharing location
                li Back button

      .slide
        .slide-content
          h1 Use the router generously
          pre
            | var AppRouter = Backbone.Router.extend({
            |   routes: {
            |     'competition': 'competition',
            |     'report/:year/:month': 'report'
            |   }
            | });
          pre
            | appRouter.navigate('report/2012/11', {trigger: true});

      .slide
        .slide-content
          h1 The Source of Truth
          ul
            li No ambiguity!
            li Models should be the source of data truth.
            li Views should be the source of UI state truth.
            li The DOM is not a source of truth.

      .slide
        .slide-content
          h1 The Source of Truth
          p Good:
            pre
              | myView.currentTab = OPEN_IDEAS;
              | myView.render();
          p Bad:
            pre
              | <div data-current-tab="open-ideas">...</div>

      .slide
        .slide-content
          h1 Treat the DOM as Write-Only
          ul
            li Data flows towards the DOM, not back.
            li Paint and re-paint the DOM like a canvas.
            li Don't read from it.
            li Exception: form inputs.

