extends layout

block content

  .presentation
    .slides

      .slide

        h1 Presenter.js
        h3 A node.js, Jade & HTML5 presentation framework

        .row
          .col.half
            p Write presentations like this in Jade:
            pre.ugly
              | .slide
              |   h1 My Presentation
              |   p This is slide one.
              | 
              | .slide
              |   h2 Slide two
              |   p This is slide two.
          .col.half
            p Run the built-in server like this:
            pre.lang-bsh
              | $ node presenter
            p Then access over the network at:
            pre.ugly
              | http://<your-computer>:3000

        p.hint
          | Hit <span class="key">spacebar</span>, <span class="key">&rarr;</span>
          | or swipe to see more.

      .slide
        h2 Goals
        ul
          li simplicity
          li good looks
          li syntax highlighting
          li remote control (not yet implemented)
          li export to standalone HTML/JS (not yet implemented)

        p.hint <span class="key">&rarr;</span>
