doctype 5
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic',rel='stylesheet',type='text/css')
    link(rel='stylesheet', href='/stylesheets/prettify-themes/sunburst.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/google-code-prettify/prettify.js')
    script(src='/javascripts/presenter.js')
  body
    block content
