extends layout

block vars
  - var title = 'Pres - an HTML5 / Jade / Node.js presentation framework.'

block slides

  .slide
    h1 Pres is running!
    p This is the default presentation.

  .slide
    h2 Slide 2
    p Nothing to see here, make your own!
