extends layout

block vars
  - var title = 'Presenteur - skeleton presentation.'

block slides

  .slide
    h1 Presenteur is running!
    p This is a skeleton presentation.

  .slide
    h2 Slide 2
    p Nothing to see here, make your own!
