doctype 5
block vars
html
  head
    title Remote Control
    !{pres_assets}
  body
    .progress
      span.current-slide-number
      span  of 
      span.total-slide-count
    .button-controller
      button.previous Previous
      button.next Next
      button.close Close
