script(src='components/jquery-1.8.3.min.js')
script(src='components/microevent.js')
script(src='javascripts/lib/presentation.js')
script(src='javascripts/lib/init.js')

link(rel='stylesheet', href='stylesheets/style.css')

//-link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic',rel='stylesheet',type='text/css')
//-link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic',rel='stylesheet',type='text/css')
//-link(rel='stylesheet', href='stylesheets/prettify-themes/sunburst.css')
//-script(src="/socket.io/socket.io.js")
//-script(src='components/jquery.ba-bbq.min.js')
//-script(src='components/google-code-prettify/prettify.js')
//-script(src='javascripts/lib/keyboard-controller.js')
//-script(src='javascripts/lib/swipe-controller.js')
//-script(src='javascripts/lib/url-binder.js')
